################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/worldbetting-assessment/FileContentIndex/2ba18e83-028f-4f58-b609-4852d64aaa82.vsidx
/.vs/worldbetting-assessment/v17/.wsuo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
.vs/
/WorldBetting.Assessment/WoldBetting.Assessment.Models/bin/
/WorldBetting.Assessment/WoldBetting.Assessment.Models/obj/
/WorldBetting.Assessment/WorldBetting.Assessment.Web.Api/bin/
/WorldBetting.Assessment/WorldBetting.Assessment.Web.Api/obj/
*.pdb
*.dll
*.cache
/WorldBetting.Assessment/WorldBetting.Assessment.Core/obj/
*.Up2Date
*.txt
*.props
*.targets
/WorldBetting.Assessment/WorldBetting.Assessment.WebAPI.Tests/bin/
/WorldBetting.Assessment/files/
/WorldBetting.Assessment/WorldBetting.Assessment.WebAPI.Tests/bin/
/WorldBetting.Assessment/WorldBetting.Assessment.WebAPI.Tests/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
